#map{
    display: none;
}

@media only screen and (min-width: 650px) {

    #map{
        display: flex;
        background-image: url(section-4-images/Map.png);
        height: 530px;
        display: flex;
        justify-content: right;
        align-items: center;
        max-width: 1600px;
        margin: 0 auto;
    }

    .map-cart{
        width: 40%;
        height: 70%;
        margin-right: 5%;
        background-color: #2b6fbd1e;
        border-radius:5px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .map-cart{
        text-align: center;
    }
    
}