@font-face {
    font-family: iransans;
    src: url(font/IRANSansXV.woff);
}

:root {
    --title-color: #353535;
    --text-color: #787878;
    --btn-text-color: #ECECEC;
    --btn-backgroundcolor: #003D95;
}

#map{
    display: none;
}

@media only screen and (min-width: 1000px) {

    *{
        font-family: iransans;
    }
    #map{
        display: flex;
        background-image: url(./section-4-images/Map.png);
        height: 530px;
        display: flex;
        justify-content: right;
        align-items: center;
        max-width: 1600px;
        margin: 0 auto;
        background-size: cover;
    }

    .map-cart{
        width: 40%;
        height: 80%;
        margin-right: 3%;
        background-color: #2b6fbd1e;
        border-radius:5px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .map-cart{
        text-align: center;
    }

    .map-cart .card-title{
        font-size: 40px;
        font-weight: bold;
    }

    .map-cart .card-des{
        font-size: 20px;
        margin: 5%;
        font-weight: 500;
    }

     button {
        width: 172px;
        height: 43px;
        margin-top: 5%;
        color: var(--btn-text-color);
        background-color: var(--btn-backgroundcolor);
        border: none;
        border-radius: 5px;
        font-size: 14px;
    }
    
}