@font-face {
    font-family:IRANSans ;
    src: url(font/IRANSansXV.woff);
}

*{
    margin: 0;
    padding: 0;
    font-family: IRANSans;
}
button{
    border-radius: 5px;
}
.SEC-2{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    justify-content: center;
}
.SEC-2 *{
    text-align: center;
}
.SEC-2>h1{
    color: #1F1F1F;
    font-size: 25px;
}
.SEC-2>div:first-of-type{
    display: flex;
    width: 100% ;
    justify-content: center;
    gap: 4%;
}
.SEC-2>div:first-of-type>button{
    font-size: 15px;
    color:#8C8C8C ;
    width: 45%;
    height: 50px;
    border: none;
    background-color: #fff ;
}
.SEC-2>div:first-of-type>.active-sec2{
    color: #003D95 !important;
    margin-bottom: 100pxs;
    border-bottom:2px #003D95 solid ;
}
.SEC-2>div:last-of-type{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: centerss;
}
.SEC-2>div:last-of-type>div{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
.SEC-2>div:last-of-type>div>h2{
    font-size: 25px;
    color: #1F1F1F;
}
.SEC-2>div:last-of-type>div>p{
    width: 80%;
    color:#353535 ;
}
.SEC-2>div:last-of-type>div>button{
    background-color: #fff;
    color: #003D95;
    width: 50%;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-size: 15px;
}
.SEC-2>div:last-of-type>div>button::before{
    content: url(img/arrow-left.png);
}