/* Styles for the footer */
#flexibleFooter {
  background-color: #1f1f1f; /* Set background color for footer */
  color: #fff; /* Set text color for footer */
  padding: 2px 20px 20px 20px; /* Set padding for footer */
  text-align: center; /* Align text to center */
}

#footerContent {
  display: flex; /* Use flexbox for footer content */
  flex-wrap: wrap; /* Allow items to wrap */
  justify-content: space-around; /* Adjust as needed */
}

#footerContent > div {
  flex: 1; /* Distribute available space equally */
  text-align: right; /* Align text to the right */
  margin-bottom: 20px; /* Add margin between parts */
}

#footerContent h2,
#footerContent span {
  line-height: 23px; /* Set line height for heading and text */
}

#footerContent div {
  padding: 10px; /* Add padding to each part */
}

/* Styles for images block */
.image-block {
  display: flex; /* Use flexbox for image block */
  justify-content: flex-end; /* Align images to the end */
  margin-top: 20px; /* Add margin on top */
}

.image-block img {
  margin-left: 10px; /* Add margin between images */
  height: 50px; /* Set height for images */
}

/* Media query for mobile responsiveness */
@media only screen and (max-width: 600px) {
  /* Set the order of part3 and part5 to swap their positions */
  #part3 {
    order: 2; /* Set the order of part3 to 2 */
  }

  #part5 {
    order: 1; /* Set the order of part5 to 1 */
  }

  #part1 {
    display: none; /* Hide part1 for mobile devices */
  }

  #part2-container {
    width: 100%; /* Set width to 100% for part2 container */
    display: flex; /* Use flexbox for part2 container */
    flex-direction: column; /* Set flex direction to column */
  }

  #part2 {
    width: 100%; /* Set width to 100% for part2 */
  }

  #part5 {
    width: 100%; /* Set width to 100% for part5 */
  }

  /* Adjustments for parts 3 and 4 */
  #footerContent > div:nth-child(3), /* Select the third child div */
  #footerContent > div:nth-child(4) {
    /* Select the fourth child div */
    width: 50%; /* Set width to 50% for each */
    float: left; /* Float elements to the left */
  }

  #footerContent > div:nth-child(4) {
    float: right; /* Float part 4 to the right */
  }
}
