/* Styles for the footer */
#flexibleFooter {
  background-color: #1f1f1f; /* Set background color for footer */
  color: #fff; /* Set text color for footer */
  padding: 20px 20px 20px 20px; /* Set padding for footer */
  text-align: center; /* Align text to center */
}

#footerContent {
  display: flex; /* Use flexbox for footer content */
  gap: 5%; /* Set gap between child elements */
}

#footerContent > div {
  margin-bottom: 20px; /* Add margin between parts */
  width: 15%; /* Set width for each part */
}

#footerContent h2,
#footerContent span {
  line-height: 23px; /* Set line height for heading and text */
}

#footerContent div {
  padding: 10px; /* Add padding to each part */
}

/* Styles for images block */
.image-block {
  display: flex; /* Use flexbox for image block */
  justify-content: flex-end; /* Align images to the end */
  margin-top: 20px; /* Add margin on top */
}

.image-block img {
  margin-left: 10px; /* Add margin between images */
  height: 50px; /* Set height for images */
}

/* Media query for mobile responsiveness */
@media only screen and (max-width: 600px) {
  /* Set the order of part3 and part5 to swap their positions */
  #part1 {
    display: none; /* Hide part1 on mobile */
  }
  #footerContent {
    flex-wrap: wrap; /* Allow items to wrap */
  }
  #footerContent > div {
    width: 40%; /* Set width for each part on mobile */
  }
  #part2 {
    order: -2; /* Set order for part2 */
  }
  #part3 {
    order: 1; /* Set order for part3 */
  }
  #part4 {
    order: 0; /* Set order for part4 */
  }
  #part5 {
    order: -2; /* Set order for part5 */
  }
  /* Center align images in the footer block for mobile */
  .image-block {
    justify-content: center; /* Center align images */
  }
}

/* Media query for 1000 pixels width */
@media only screen and (max-width: 1000px) {
  #footerContent > #part1 {
    width: 25%; /* Set width for Part 1 at 1000 pixels */
  }
}

/* Media query for 600 pixels width */
@media only screen and (max-width: 600px) {
  #footerContent > #part1 {
    width: 40%; /* Set width for Part 1 at 600 pixels */
  }
}
