:root {
  --black-text: #252736;
  --gray-text: #353535;
  --primary-color: #003d95;
}

@font-face {
  font-family: IRANSans;
  src: url(/font/IRANSansXV.woff);
}
*{
  font-family: IRANSans ;
}
/* Styling for the main header */
#mainHeader {
  background-color: #e0e0e0; /* Background color */
  color: #fff; /* Text color */
  padding: 20px 40px; /* Padding */
  display: flex; /* Display as flexbox */
  justify-content: space-between; /* Align items with space between them */
  align-items: center; /* Center align items vertically */
  position: fixed; /* Sticky positioning */
  top: 0; /* Stick to the top */
  left: 0; /* Stick to the left */
  right: 0; /* Stretch to the right */
  z-index: 1000;
}
/* Styling for dynamic buttons */
.dynamicButton {
  background-color: #003d95; /* Background color */
  border: none; /* No border */
  color: white; /* Text color */
  padding: 10px 20px; /* Padding */
  text-align: center; /* Center align text */
  text-decoration: none; /* No underline */
  display: inline-block; /* Display as inline block */
  font-size: 16px; /* Font size */
  cursor: pointer; /* Cursor style */
  border-radius: 5px; /* Border radius */
}
.dynamicButton:hover{
  background-color: #2B6FBD;
}
/* Styling for the toggle navigation button */
#toggleNav {
  background-color: transparent; /* Background color */
  border: none; /* No border */
  color: white; /* Text color */
  padding: 10px 20px; /* Padding */
  text-align: center; /* Center align text */
  text-decoration: none; /* No underline */
  display: inline-block; /* Display as inline block */
  font-size: 16px; /* Font size */
  cursor: pointer; /* Cursor style */
  border-radius: 5px; /* Border radius */
}

/* Styling for the main navigation */
#mainNav {
  position: fixed; /* Fixed positioning */
  top: 0; /* Stick to the top */
  right: -250px; /* Initially hidden off-screen */
  background-color: #f5faff; /* Background color */
  height: 100%; /* Full height */
  width: 250px; /* Fixed width */
  transition: right 0.3s ease; /* Smooth transition for sliding animation */
  padding: 115px 40px 20px; /* Padding */
  box-sizing: border-box; /* Include padding in width */
  display: flex; /* Display as flexbox */
  flex-direction: column; /* Arrange items in column */
  align-items: flex-end; /* Align items to the right */
  border-radius: 6px 0px 0px 10px; /* Border radius */
  z-index: 999; /* Ensure it stays on top of the overlay */
}

/* Styling for the main navigation when it's open */
#mainNav.open {
  right: -1px; /* Slide in from right to left */
}

/* Styling for menu items */
#menuItems {
  list-style-type: none; /* No list style */
  padding: 0; /* No padding */
  text-align: right; /* Right align text */
  padding-top: 35px; /* Padding top */
}

/* Styling for individual menu items */
#menuItems li {
  margin: 20px 0; /* Margin */
}

/* Styling for anchor tags within menu items */
#menuItems li a {
  color: #8c8c8c; /* Change color for menu items */
  text-decoration: none; /* No underline */
  padding: 10px 20px; /* Padding */
  display: block; /* Display as block */
  font-size: 22px; /* Font size */
}
#menuItems li a:hover{
  color: var(--primary-color);
} 
/* Set color for the first link */

/* Styling for the logo container */
.logo-container {
  display: flex; /* Display as flexbox */
  flex-direction: row-reverse; /* Arrange items in reverse row */
  align-items: center; /* Center align items */
  position: relative; /* Add position relative */
}

.logo-container::after {
  content: ""; /* Empty content */
  position: absolute; /* Absolute positioning */
  bottom: 0; /* Stick to the bottom */
  left: 14%; /* Position from left */
  transform: translateX(-50%); /* Center horizontally */
  width: 185px; /* Width */
  height: 1px; /* Height */
  background-color: #0000001c; /* Change color of the line */
  top: 54px; /* Adjust position relative to logo */
}
/* Styling for the logo image */
.logo-container img {
  margin-left: 10px; /* Adjust the space between the logo and the line */
}

/* Styling for the overlay */
#overlay {
  position: fixed; /* Fixed positioning */
  top: 0; /* Stick to the top */
  left: 0; /* Stick to the left */
  width: calc(100% - 250px); /* Adjust width to exclude sidebar menu */
  height: 100%; /* Full height */
  background-color: rgba(0, 0, 0, 0.5); /* Black with 50% opacity */
  z-index: 1001; /* Ensure it covers the entire page including the header */
  display: none; /* Initially hidden */
  backdrop-filter: blur(2px); /* Apply blur effect */
}
/* Media query for desktop devices */
@media only screen and (min-width: 768px) {
  /* Styling adjustments for desktop devices */

  #toggleNav {
    display: none; /* Hide toggle button for desktop */
  }

  #mainNav {
    display: flex; /* Display main navigation */
    position: static; /* Reset position */
    padding: 0; /* Reset padding */
    background-color: transparent; /* Transparent background */
    align-items: baseline; /* Align items at baseline */
    border-radius: 0; /* Reset border radius */
    flex-direction: row-reverse; /* Arrange items in a reverse row */
  }

  #menuItems {
    display: flex; /* Display menu items as flexbox for desktop */
    flex-direction: row-reverse; /* Arrange menu items in a reverse row */
  }

  #menuItems li {
    margin: 0 20px; /* Margin between menu items */
  }
  #menuItems li a:hover{
    color: var(--primary-color);
  }
  #menuItems li a {
    padding: 0; /* Remove padding for menu items */
    font-size: 16px; /* Adjust font size for desktop */
  }

  .logo-container::after {
    display: none; /* Hide the line below the logo for desktop */
  }

  /* Adjustments for desktop version */

  /* Move the logo to the right */
  .logo-container {
    margin-left: auto; /* Align logo to the right */
  }

  /* Reset margin for the first list item */
  #menuItems li:first-child {
    margin-right: 20px; /* Add margin to the right of the first list item */
  }

  /* Hide the fifth list item */
  #menuItems li:nth-child(5) {
    display: none; /* Hide the fifth list item */
  }

  /* Styling for anchor tags within menu items */
  #menuItems li a {
    color: #8c8c8c; /* Change color for menu items */
    text-decoration: none; /* No underline */
    display: block; /* Display as block */
    font-size: 16px; /* Font size */
    white-space: nowrap; /* Prevent text from wrapping */
  }

  /* Adjust alignment for main header */
  #mainHeader {
    align-items: baseline; /* Align items at baseline */
    padding: 2px 47px 35px 65px; /* Adjust padding */
  }

  /* Adjust font size and padding for dynamic buttons */
  .dynamicButton {
    font-size: 18px; /* Increase font size */
    padding: 15px 57px; /* Adjust padding */
  }
  .dynamicButton:hover{
    background-color: #2B6FBD;
  }
}
