/* Styling for the main header */
#mainHeader {
  background-color: #333; /* Background color */
  color: #fff; /* Text color */
  padding: 20px 40px; /* Padding */
  display: flex; /* Display as flexbox */
  justify-content: space-between; /* Align items with space between them */
  align-items: center; /* Center align items vertically */
  position: fixed; /* Sticky positioning */
  top: 0; /* Stick to the top */
  left: 0; /* Stick to the left */
  right: 0; /* Stretch to the right */
  z-index: 1000;
}

/* Styling for dynamic buttons */
.dynamicButton {
  background-color: #003d95; /* Background color */
  border: none; /* No border */
  color: white; /* Text color */
  padding: 10px 20px; /* Padding */
  text-align: center; /* Center align text */
  text-decoration: none; /* No underline */
  display: inline-block; /* Display as inline block */
  font-size: 16px; /* Font size */
  cursor: pointer; /* Cursor style */
  border-radius: 5px; /* Border radius */
}

/* Styling for the toggle navigation button */
#toggleNav {
  background-color: #333; /* Background color */
  border: none; /* No border */
  color: white; /* Text color */
  padding: 10px 20px; /* Padding */
  text-align: center; /* Center align text */
  text-decoration: none; /* No underline */
  display: inline-block; /* Display as inline block */
  font-size: 16px; /* Font size */
  cursor: pointer; /* Cursor style */
  border-radius: 5px; /* Border radius */
}

/* Styling for the main navigation */
#mainNav {
  position: fixed; /* Fixed positioning */
  top: 0; /* Stick to the top */
  right: -250px; /* Initially hidden off-screen */
  background-color: #f5faff; /* Background color */
  height: 100%; /* Full height */
  width: 250px; /* Fixed width */
  transition: right 0.3s ease; /* Smooth transition for sliding animation */
  padding: 115px 40px 20px; /* Padding */
  box-sizing: border-box; /* Include padding in width */
  display: flex; /* Display as flexbox */
  flex-direction: column; /* Arrange items in column */
  align-items: flex-end; /* Align items to the right */
  border-radius: 6px 0px 0px 10px; /* Border radius */
  z-index: 999; /* Ensure it stays on top of the overlay */
}

/* Styling for the main navigation when it's open */
#mainNav.open {
  right: -1px; /* Slide in from right to left */
}

/* Styling for menu items */
#menuItems {
  list-style-type: none; /* No list style */
  padding: 0; /* No padding */
  text-align: right; /* Right align text */
  padding-top: 35px; /* Padding top */
}

/* Styling for individual menu items */
#menuItems li {
  margin: 20px 0; /* Margin */
}

/* Styling for anchor tags within menu items */
#menuItems li a {
  color: #8c8c8c; /* Change color for menu items */
  text-decoration: none; /* No underline */
  padding: 10px 20px; /* Padding */
  display: block; /* Display as block */
  font-size: 22px; /* Font size */
}

/* Set color for the first link */
#menuItems li:first-child a {
  color: #164695; /* Color for the first link */
}

/* Styling for the logo container */
.logo-container {
  display: flex; /* Display as flexbox */
  flex-direction: column; /* Arrange items in column */
  align-items: center; /* Center align items */
  position: relative; /* Add position relative */
}

/* Styling for the logo image */
.logo-container img {
  margin-bottom: 5px; /* Adjust the space between the logo and the line */
}

/* Styling for the line below the logo */
.logo-container::after {
  content: ""; /* Empty content */
  position: absolute; /* Absolute positioning */
  bottom: 0; /* Stick to the bottom */
  left: 14%; /* Position from left */
  transform: translateX(-50%); /* Center horizontally */
  width: 185px; /* Width */
  height: 1px; /* Height */
  background-color: #0000001c; /* Change color of the line */
  top: 54px; /* Adjust position relative to logo */
}

/* Styling for the overlay */
#overlay {
  position: fixed; /* Fixed positioning */
  top: 0; /* Stick to the top */
  left: 0; /* Stick to the left */
  width: calc(100% - 250px); /* Adjust width to exclude sidebar menu */
  height: 100%; /* Full height */
  background-color: rgba(0, 0, 0, 0.5); /* Black with 50% opacity */
  z-index: 1001; /* Ensure it covers the entire page including the header */
  display: none; /* Initially hidden */
  backdrop-filter: blur(2px); /* Apply blur effect */
}
