/* Static styles */
#mainHeader {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.dynamicButton {
  background-color: #003d95;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

#toggleNav {
  background-color: #333;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

#mainNav {
  position: fixed;
  top: 0;
  right: -250px; /* Initially hidden */
  background-color: #333;
  height: 100%;
  width: 250px;
  transition: right 0.3s ease;
}

#mainNav.open {
  right: 0; /* Slide in from right to left */
}

#menuItems {
  list-style-type: none;
  padding: 0;
}

#menuItems li {
  margin: 20px 0;
}

#menuItems li a {
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  display: block;
}

#menuItems li a:hover {
  background-color: #555;
  border-radius: 5px;
}
