@font-face {
    font-family: IRANSans;
    src: url(./font/IRANSansXV.woff);
}


/*please,read the names carefully, I love you😓 */
:root {
    --title-color: #353535;
    --text-color: #787878;

    /* btn colors */
    --btn-text-color: #ECECEC;
    --btn-backgroundcolor: #003D95;
}


* {
    font-family: IRANSans;
}

/* hero section */
#hero-banner-section{
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-baner-container{
    margin: 0 auto;
    padding-top: 12%;
    position: relative;
    overflow: hidden;
    height: 320px;
    max-width: 375px;
    width: 100%;
 }

.hero-baner-background  {
    background-color: #6168FF;
    width: 92%;
    height: 90%;
    margin: 0 auto;
    position: relative;
    border-radius: 15%;
}

/* Subtract image */
.Subtract {
    position: absolute;
    width: 100%;
    bottom: -12px;
}

/* hero image */
.hero-baner-background  :nth-child(1) {
    position: absolute;
    top: -40px;
    /* width: 90%; */
    width: 295px;
}

/* logo image */
.hero-baner-background  :nth-child(2) {
    position: absolute;
    /* top: ; */
    right: 10%;
    top: -15px;
}

.hero-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-description * {
    text-align: center;
}


/* description title */
.hero-description h1 {
    font-size: 50px;
    color: var(--title-color);
    margin: 0;
}

/* description text */
.hero-description span {
    font-size: 16px;
    color: var(--text-color)
}

.hero-description button {
    width: 172px;
    height: 43px;
    margin: 0 auto;
    margin-top: 5%;
    color: var(--btn-text-color);
    background-color: var(--btn-backgroundcolor);
    border: none;
    border-radius: 5px;
    font-size: 20px;
}